<a href="https://colab.research.google.com/github/Rynnsya/Jobsheet-07-Tuple-Dictionary-dan-SET/blob/main/Rasya_Pandu_Wicaksono_Jobsheet7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Praktikum 1 Tuple: Data Tetap

In [1]:
koordinat = (7.05, 110.44)
print("Lintang:", koordinat[0])
print("Bujur:", koordinat[1])

Lintang: 7.05
Bujur: 110.44

Praktikum 2 Dictionary Dasar

In [3]:
mahasiswa = {
    "NIM": "20251001",
    "Nama": "Andi",
    "Prodi": "TRK"
}

print("NIM  :", mahasiswa["NIM"])
print("Nama :", mahasiswa["Nama"])
print("Prodi:", mahasiswa["Prodi"])

NIM  : 20251001
Nama : Andi
Prodi: TRK

Praktikum 3 Operasi Dictionary

In [2]:
mahasiswa = {
    "NIM": "20251001",
    "Nama": "Andi",
    "Prodi": "TRK"
}

# Menambah data baru
mahasiswa["Umur"] = 20

# Memperbarui data yang sudah ada
mahasiswa["Prodi"] = "Teknik Komputer"

# Menghapus data
del mahasiswa["Umur"]

# Menampilkan hasil akhir
print(mahasiswa)

{'NIM': '20251001', 'Nama': 'Andi', 'Prodi': 'Teknik Komputer'}

Praktikum 4 Set dan Operasi Himpunan

In [4]:
A = {1, 2, 3, 4}
B = {3, 4, 5, 6}

print("Union:", A | B)
print("Intersection:", A & B)
print("Difference:", A - B)

Union: {1, 2, 3, 4, 5, 6}
Intersection: {3, 4}
Difference: {1, 2}

Praktikum 5 Studi Kasus Mata Kuliah

In [5]:
mhs1 = {"Algoritma", "Matematika", "Bahasa Inggris"}
mhs2 = {"Algoritma", "Basis Data", "Matematika"}

print("Mata kuliah Mhs1:", mhs1)
print("Mata kuliah Mhs2:", mhs2)
print("Mata kuliah yang sama:", mhs1 & mhs2)

Mata kuliah Mhs1: {'Matematika', 'Algoritma', 'Bahasa Inggris'}
Mata kuliah Mhs2: {'Matematika', 'Algoritma', 'Basis Data'}
Mata kuliah yang sama: {'Matematika', 'Algoritma'}

Praktikum 6 Studi Kasus Dictionary: Daftar Nilai

In [6]:
nilai_mahasiswa = {
    "Andi": 80,
    "Budi": 75,
    "Cici": 90
}

# Menampilkan nama dan nilai setiap mahasiswa
for nama, nilai in nilai_mahasiswa.items():
    print(f"{nama}: {nilai}")

# Menghitung rata-rata nilai
rata = sum(nilai_mahasiswa.values()) / len(nilai_mahasiswa)
print(f"Rata-rata nilai: {rata:.2f}")

Andi: 80
Budi: 75
Cici: 90
Rata-rata nilai: 81.67

Penugasan 3 Tuple Sederhana

In [7]:
mahasiswa = ("Andi", 20, "Teknik Komputer")

print("Nama :", mahasiswa[0])
print("Umur :", mahasiswa[1])
print("Prodi:", mahasiswa[2])

Nama : Andi
Umur : 20
Prodi: Teknik Komputer

Penugasan 4 Tuple Tidak Bisa Diubah

In [9]:
aangka = (1, 2, 3)
angka[0] = 10

TypeError: 'tuple' object does not support item assignment

Penugasan 5 Dictionary Dasar

In [10]:
buku = {
    "Judul": "Algoritma",
    "Penulis": "Munir",
    "Tahun": 2021
}

print("Judul  :", buku["Judul"])
print("Penulis:", buku["Penulis"])
print("Tahun  :", buku["Tahun"])

Judul  : Algoritma
Penulis: Munir
Tahun  : 2021

Penugasan 6 Operasi Dictionary

In [11]:
dosen = {
    "NIP": "12345",
    "Nama": "Budi",
    "Prodi": "TRK"
}

dosen["Umur"] = 40

dosen["Prodi"] = "Teknik Komputer"

del dosen["Umur"]

print(dosen)

{'NIP': '12345', 'Nama': 'Budi', 'Prodi': 'Teknik Komputer'}

Penugasan 7 Set dan Himpunan

In [12]:
A = {"Matematika", "Algoritma", "Bahasa Inggris"}
B = {"Algoritma", "Basis Data", "Matematika"}

print("Union (gabungan):", A | B)
print("Intersection (irisan):", A & B)
print("Difference (A - B):", A - B)

Union (gabungan): {'Matematika', 'Algoritma', 'Bahasa Inggris', 'Basis Data'}
Intersection (irisan): {'Matematika', 'Algoritma'}
Difference (A - B): {'Bahasa Inggris'}

Penugasan 8 Studi Kasus Dictionary

In [13]:
nilai_mahasiswa = {
    "Andi": 85,
    "Budi": 90,
    "Cici": 78
}

print("Daftar nilai mahasiswa:")
for nama, nilai in nilai_mahasiswa.items():
    print(f"{nama}: {nilai}")

rata_rata = sum(nilai_mahasiswa.values()) / len(nilai_mahasiswa)
print(f"\nRata-rata nilai: {rata_rata:.2f}")

Daftar nilai mahasiswa:
Andi: 85
Budi: 90
Cici: 78

Rata-rata nilai: 84.33

Penugasan 9 Studi Kasus Set - Klub Mahasiswa

In [14]:
klub_A = {"Andi", "Budi", "Cici"}
klub_B = {"Cici", "Deni", "Eka"}

print("Daftar seluruh anggota (Union):", klub_A | klub_B)
print("Anggota di kedua klub (Intersection):", klub_A & klub_B)
print("Anggota hanya di Klub A (Difference):", klub_A - klub_B)

Daftar seluruh anggota (Union): {'Cici', 'Andi', 'Budi', 'Eka', 'Deni'}
Anggota di kedua klub (Intersection): {'Cici'}
Anggota hanya di Klub A (Difference): {'Andi', 'Budi'}